.card {
  width: 450px;
  height: 450px;
  margin: 1rem auto;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  
}
.card-back h1, p{
    margin: 55px;

}

.card-front {
  background-image: url(/assets/homePage/homePage04.jpg);
   background-size: cover;
  background-position: center;
  border: 1px solid #e5e7eb;
}

.card-back {
  background-image: url(/assets/homePage/homePage04.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: white;
  transform: rotateY(180deg);
}
.card-back::before{
    content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  filter: blur(8px);
  transform: scale(1.1);
  z-index: -1;
}

