:root{
    --orange: rgb(248, 112, 96);
    --dark-blue: rgb(39, 38, 53);
    --gray: #ffffffbf;
    --white: rgb(255, 255, 255);
}
.sec-padding{
    padding-top: 555px;

}

.title{
    font-size: 2.5rem;
    margin: .5rem 0;
    line-height: 1.2;
}
.desc{
    font-size: 1.125rem;
    margin: 1.5rem 0 1.8rem 0;
    line-height: 1.5;
}

/* ======== Start Hero Section======== */
.hero-sec {
    height: 75vh;
}

.hero-sec video {
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.hero-sec > .text-center,
.hero-sec>div {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.hero-sec div h1 {
    font-size: 3.5rem;
}

.hero-sec div p {
    font-size: 1.25rem;
}

.hero-sec div div {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.hero-sec div div a {
    border: none;
    font-size: 1rem;
    padding: 0.3rem 0.8rem;
}

.hero-sec div div a:last-child {
    background-color: var(--orange);
}

/* ======== End Hero Section======== */

/* =======Start Welcome Section=========== */

.welcome{
    background-color: var(--white);
}
.welcome .befor-title::before{
    background-color: var(--dark-blue);
}

.welcome .container{
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.welcome .container div:last-child{
    width: 100%;
    order: 1;
}
.welcome .div-of-img {
    border: 1px solid #ffffff40;
    padding: 1px;
    border-radius: 0.5rem;
    /* width: 70%;
    height : 390px; */
    order: 2;
}
.welcome .div-of-img img{
    border-radius: 0.5rem;
    object-position: top;
}
@media (min-width: 768px) {
    .welcome .container div:last-child {
        order: 2;
    }

    .welcome .div-of-img {
        order: 1;
    }
}

/* ======== end welcome Section======== */
/* ======== destination styling========*/
.destination{
    overflow: auto;
}
.destination .title{
    margin-bottom: 3rem;
}
.destination-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 2rem;
    list-style: none;
}

.destination-grid-cell{
    height: 60vh;
    position: relative;
    overflow: hidden;
    border: 3px solid #C9A961;;
    /* border: 3px solid transparent;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(45deg, #C9A961, #B8704F) border-box; */
    border-radius: 6%;
    -webkit-border-radius: 6%;
    -moz-border-radius: 6%;
    -ms-border-radius: 6%;
    -o-border-radius: 6%;
    background-color: #000;
    box-shadow: 0 4px 12px rgba(201, 169, 97, 0.15);
}

.destination-grid img {
    width:100%;
    height: 100%;
    object-fit: cover;
    align-self: center;
    position: absolute;
    transition: transform 0.7s ease-out;
    -webkit-transition: transform 0.7s ease-out;
    -moz-transition: transform 0.7s ease-out;
    -ms-transition: transform 0.7s ease-out;
    -o-transition: transform 0.7s ease-out;
}
.destination-grid-cell-text h2{
    color:var(--orange);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.destination-grid-cell-text p{
    color:var(--gray);
    font-size: 1.2rem;
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) { 
    
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) { 
    
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) { 
    .destination-grid-cell-text h2{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .destination-grid-cell-text p{
        font-size: 1.2rem;
    }
}
@media (min-width: 1200px) {  
    .destination-grid-cell-text h2{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .destination-grid-cell-text p{
        font-size: 0.959rem;
    }
}
@media (min-width: 1400px) {  
    .destination-grid-cell-text h2{
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
    }
    .destination-grid-cell-text p{
        font-size: 0.98rem;
    }
}
.destination-grid-cell-text{
    position: absolute;
    min-height: 35vh;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.49);
    padding: 1.5rem;
    border-radius:0 0 9% 9%;
    /*Idon't know if that'sthecorrectwaytohandleoverflowornot,butI'vebeenfedup*/
    -webkit-border-radius:0 0 9% 9%;
    -moz-border-radius:0 0 9% 9%;
    -ms-border-radius:0 0 9% 9%;
    -o-border-radius:0 0 9% 9%;
    opacity: 0;
    transform: translate Y(100%);
    -webkit-transform: translate Y(100%);
    -moz-transform: translate Y(100%);
    -ms-transform: translate Y(100%);
    -o-transform: translate Y(100%);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    -webkit-transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    -moz-transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    -ms-transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    -o-transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.destination-grid-cell:hover .destination-grid-cell-text {

    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition-delay: 0.15;
}

.destination-grid-cell:hover img{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transition: transform 0.7s ease-out;
    -webkit-transition: transform 0.7s ease-out;
    -moz-transition: transform 0.7s ease-out;
    -ms-transition: transform 0.7s ease-out;
    -o-transition: transform 0.7s ease-out;
}

@media (max-width: 1200px) {
    .destination-grid {
        grid-template-columns: 1fr 1fr;
    }
    .destination{
        padding:5em 2em;
    }
}
@media (max-width: 768px) {
    .destination-grid {
        grid-template-columns: 1fr;
    }
    .destination{
        padding:5em 2em;
    }
}

@media (max-width: 576px) {
    .destination-grid {
        grid-template-columns: 1fr;
    }
    .destination{
        padding:5em 2em;
    }
}

/*========= end of destination section ====== */




/* ======== Start Why Choose Section======== */
.why-choose{
    
    background-image: url(/assets/homePage/whychoose.png);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 18px;
    position: relative;
    padding: 60px 10%;
}
.why-choose::after{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
     top: 0;
     left: 0;
     /* z-index: -1; */
    background-color: rgba(0, 0, 0, 0.1);
}
.why-choose .btn{
    /* margin: 25px 0 0 350px; */
    font-weight: bold;
}
.statics{
    gap: 5rem;
    margin: 2rem auto;
    text-align: center;
    font-size: 20px;
    flex-direction: row !important;
    width: fit-content;
}
.statics p{
    font-size: 1rem;
    padding-top: 0.2rem;
}
.why-choose .btn{
    margin-top: 2rem;
}
@media (min-width: 768px) {
    .statics{
        margin-left: 0;
    margin-right: 0;
    }
}

/* ======== End Why Choose Section======== */

/* ======== Start Customize Section======== */
.cutom .befor-title::before {
    background-color: var(--gray);
}

.cutom .container {
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.cutom .container div:first-child {
    width: 100%;
    order: 2;
}

.cutom .div-of-img {
    border: 1px solid #ffffff40;
    padding: 1px;
    border-radius: 0.5rem;
    /* width: 100%;
    height: 390px; */
    margin: auto ;
    order: 1;
}

.cutom .div-of-img img {
    border-radius: 0.5rem;
}
.cutom .container div:last-child {
        order: 2;
    }

.cutomc .div-of-img {
    order: 1;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .cutom .container {
        gap: 1rem;
    }

    /* .cutom .div-of-img {
        width: 45%;
    } */

    .cutom .container div:first-child {
        width: 50%;
    }
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

/* ======== End Customize Section======== */
/* ======== Start excursions Section======== */
.excursions-sec .btn::before,
.excursions-sec .btn::after {
    border-color: var(--dark-blue);
}
.excursions-sec{
    background-color: white;
}
.excursions-sec  .btn-befor,
.excursions-sec  .btn-after{
    border-color: var(--dark-blue);
}

.excursions-sec .container {
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.excursions-sec .container div:last-child {
    width: 100%;
    order: 1;
} 
.excursions-sec .div-of-img{
     /* width: 100%; 
     height: 350px;  */
     order: 2;
    } 
.excursions-sec .div-of-img img{
    border-radius: 0.25rem;
 }
.excursions-sec .btn{
    color: black;
}
 /* ======== End excursions Section======== */ 

 /* ======== Start Information Section======== */ 
.info .befor-title::before{
    background-color: var(--dark-blue);
}
.info{
    width: 75%;
    margin: auto;
}
.info.box{
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.info .box div:last-child{
    width: 100%;
}
.info .div-of-img{
    border: 1px solid #7a7a7aa4;
    padding: 1px;
    border-radius: 0.5rem;
    width: 100%;
    height: 290px;
    border-radius: 0.5rem;
}
.info .div-of-img img{
    border-radius: 0.5rem;
    
}


/* ======== end Information Section======== */ 


/* ======== Mwdia Queries======== */ 




/*Hero Section*/
@media (max-width: 768px) {
  .hero-sec {
    height: 60vh;
  }

  .hero-sec div h1 {
    font-size: 2rem;
  }

  .hero-sec div p {
    font-size: 1rem;
  }

  .hero-sec div div {
    flex-direction: column;
  }
}


.excursions-sec .div-of-img {
    /* width: 100%;
    height: 350px; */
    order: 2;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .excursions-sec .container {
        gap: 1rem;
    }

    .excursions-sec .container div:last-child {
        width: 65%;
        order: 2;
    }

    .excursions-sec .div-of-img {
        width: 30%;
        order: 1;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .excursions-sec .container {
        gap: 2rem;
    }

    .excursions-sec .container div:last-child {
        width: 70%;
    }

    .excursions-sec .div-of-img {
        width: 25%;
    }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

/* ======== End excursions Section======== */
