/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    html{
        font-size: 16px;
    }
    .container{
        width: 90%;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .cutom .container{
        gap: 1rem;
    }
    .cutom .div-of-img{
        width: 45%;
    }
    .cutom .container div:first-child{
        width: 50%;
    }
    .excursions-sec .container{ 
        gap: 1rem; 
    }
    .excursions-sec .container div:last-child{ 
    width: 65%; 
    order: 2;
    } 
    .excursions-sec .div-of-img{
     width: 30%; 
     order: 1;
    } 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container{
        width: 80%;
    }
    .excursions-sec .container{ 
        gap: 2rem; 
    }
    .excursions-sec .container div:last-child{ 
    width: 70%; 
    } 
    .excursions-sec .div-of-img{
     width: 25%; 
    } 

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
}