/* intro */
 .contact-img{
    background-image: url(/assets/tourpackages/TourPackages.png);
    background-position: top;
}
/* .tour-packages-intro {
    background-image: url(/assets/tourpackages/TourPackages.png);
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.tour-packages-intro .sequence {
    color: rgb(39, 38, 53);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    font-size: 1.5rem;
    padding-bottom: 10%;
}

.tour-packages-intro h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    font-size: 4.5rem;
    color: white;
    text-align: center;
    padding-top: 20%;
}

.tour-packages-introduction {
    background-color: rgba(250, 235, 215, 0.486);
    padding: 5% 30% 0% 15%;
    font-size: 1.25rem;
}

.tour-packages-introduction h3 {
    padding-bottom: 4%;
    color: rgb(248, 112, 96);
    font-size: 3rem;
}

main .social {
    padding-left: 15%;
} */

/*---------------------------------------*/

/* filter and sort */

.Tour-types span,
.cities span {
    display: inline-block;
    border: 0.5px solid var(--dark-blue);
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
    color: var(--dark-blue);
    transition: background-color 0.3s, color 0.3s;
    font-size: 1rem;
}
.Tour-types span:hover,
.cities span:hover {
    background-color: var(--dark-blue);
    color: white;
    cursor: pointer;
}

.Tour-types,
.cities {
    margin-bottom: 5%;
}

.Tour-types h4,
.cities h4 {
    color: var(--dark-blue);
    padding: 2%;
}

/* ------------------------------------- */

/*booking*/

.book {
    display: flex;
    justify-content: center;
}

.book .btn {
    color: var(--dark-blue);
    margin-top: 2.5rem;
}

.book .btn::before,
.book .btn::after, 
.book .btn-befor,
.book .btn-after {
    border-color: var(--dark-blue);
}
.book .btn:hover {
    color: var(--orange);
}
/* huda add this */
.newsletter{
    flex-direction: column;
}