.tour-packages-intro {
    background-image: url(/assets/tourpackages/TourPackages.png);
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.tour-packages-intro .sequence {
    color: rgb(39, 38, 53);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    font-size: 1.5rem;
    padding-bottom: 10%;
}

.tour-packages-intro h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    font-size: 4.5rem;
    color: white;
    text-align: center;
    padding-top: 20%;
}

.tour-packages-introduction {
    background-color: #fff8f7;
    padding: 5% 30% 0% 15%;
    font-size: 1.25rem;
}

.tour-packages-introduction h3 {
    padding-bottom: 4%;
    color: rgb(248, 112, 96);
    font-size: 3rem;
}

main .social {
    padding-left: 15%;
}

/* -------------------------------- */

/* all cards */
.cards {
    display: flex;
    margin-left: 3%;
}

.caption {
    padding-bottom: 4%;
    color: rgb(248, 112, 96);
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 10%;
    margin-left: 3%;
}

.card1,
.card2,
.card3,
.card4 {
    width: 450px;
    height: 600px;
    margin: 1rem auto;
    perspective: 1000px;
    cursor: pointer;
}

.card1-inner,
.card2-inner,
.card3-inner,
.card4-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card1:hover .card1-inner,
.card2:hover .card2-inner,
.card3:hover .card3-inner,
.card4:hover .card4-inner {
    transform: rotateY(180deg);
}

.card1-front,
.card1-back,
.card2-front,
.card2-back,
.card3-front,
.card3-back,
.card4-front,
.card4-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-size: larger;
}

.card1-back,
.card2-back,
.card3-back,
.card4-back {
    color: rgb(39, 38, 53);
    background-color: #fff8f7;
    transform: rotateY(180deg);
}

/* ------------------------------- */

/* each card */

/*1st card*/
.card1-front {
    background-image: url(/assets/tourpackages/homePage04.jpg);
    background-color: #fff8f7;
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: bolder;
    border: 1px solid #e5e7eb;
    color: rgb(248, 112, 96);
}


/* 2nd card */
.card2-front {
    background-image: url(/assets/tourpackages/homePage05.jpg);
    background-color: #fff8f7;
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: bolder;
    border: 1px solid #e5e7eb;
    color: rgb(248, 112, 96);
}


/*3rd card */
.card3-front {
    background-image: url(/assets/tourpackages/homePage07.jpg);
    background-color: #fff8f7;
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: bolder;
    border: 1px solid #e5e7eb;
    color: rgb(248, 112, 96);
}


/*4rd card */
.card4-front {
    background-image: url(/assets/tourpackages/homePage06.jpg);
    background-color: #fff8f7;
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: bolder;
    border: 1px solid #e5e7eb;
    color: rgb(248, 112, 96);
}

/* ------------------------------------- */
/*footer*/
footer {
    margin-top: 15%;
}