/* intro */

.tour-packages-intro {
    background-image: url(/assets/tourpackages/TourPackages.png);
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.tour-packages-intro .sequence {
    color: rgb(39, 38, 53);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    font-size: 1.5rem;
    padding-bottom: 10%;
}

.tour-packages-intro h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    font-size: 4.5rem;
    color: white;
    text-align: center;
    padding-top: 20%;
}

.tour-packages-introduction {
    background-color: rgba(250, 235, 215, 0.486);
    padding: 5% 30% 0% 15%;
    font-size: 1.25rem;
}

.tour-packages-introduction h3 {
    padding-bottom: 4%;
    color: rgb(248, 112, 96);
    font-size: 3rem;
}

main .social {
    padding-left: 15%;
}

/*---------------------------------------*/

/* filter and sort */

.Tour-types span,
.cities span {
    display: inline-block;
    border: 0.5px solid #7A869A;
    border-radius: 5px;
    padding: 2%;
    margin: 1%;
    color: #7A869A;

}

.Tour-types,
.cities {
    margin-bottom: 5%;
}

.Tour-types h4,
.cities h4 {
    color: var(--dark-blue);
    padding: 2%;
}

/* ------------------------------------- */

/*booking*/

.book {
    display: flex;
    padding-top: 1%;
    margin-left: 45%;
    font-size: 2rem;
    margin-bottom: 15%;
}

.book .btn {
    color: var(--dark-blue);

}

.book .btn::before,
.book .btn::after {
    border-color: var(--dark-blue);
}

.book .btn-befor,
.book .btn-after {
    border-color: var(--dark-blue);
}

/* huda add this */
.newsletter{
    flex-direction: column;
}