/*
/* X-Small devices (portrait phones, less than 576px)
No media query for xs since this is the default in Bootstrap

Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }
*/

:root{
    --orange: rgb(248, 112, 96);
    --dark-blue: rgb(39, 38, 53);
    --gray: #ffffffbf;
    --pinkish: #fff8f7f5;
}

/* =============Reset Styles ============= */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 0.8rem;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}
/* =============Global reset============= */

.container{
    width: 95%;
    margin: 0 auto;
}

.destination{
    background-color: var(--pinkish);
    width: 100vw;
    min-height: 100vh;
    overflow: auto;
    padding: 15vh 5vw;
}

.destination-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 1rem;
    list-style: none;
}

.destination-grid-cell{
    height: 70vh;
    position: relative;
    overflow: hidden;
    border-radius: 6%;
    -webkit-border-radius: 6%;
    -moz-border-radius: 6%;
    -ms-border-radius: 6%;
    -o-border-radius: 6%;
    background-color: #000;
}
@media (max-width: 1200px) {
    .destination-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .destination-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .destination-grid {
        grid-template-columns: 1fr;
    }
}

.destination-grid img {
    width:100%;
    height: 100%;
    object-fit: cover;
    align-self: center;
    position: absolute;
    transition: transform 0.7s ease-out;
    -webkit-transition: transform 0.7s ease-out;
    -moz-transition: transform 0.7s ease-out;
    -ms-transition: transform 0.7s ease-out;
    -o-transition: transform 0.7s ease-out;
}
.destination-grid-cell-text h2{
    color:var(--orange);
    font-size: 2rem;
}

.destination-grid-cell-text p{
    color:var(--gray);
    font-size: 1.5rem;
}

.destination-grid-cell-text{
    position: absolute;
    min-height: 35vh;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.49);
    padding: 1.5rem;
    border-radius:0 0 9% 9%;
    /*Idon't know if that'sthecorrectwaytohandleoverflowornot,butI'vebeenfedup*/
    -webkit-border-radius:0 0 9% 9%;
    -moz-border-radius:0 0 9% 9%;
    -ms-border-radius:0 0 9% 9%;
    -o-border-radius:0 0 9% 9%;
    opacity: 0;
    transform: translate Y(100%);
    -webkit-transform: translate Y(100%);
    -moz-transform: translate Y(100%);
    -ms-transform: translate Y(100%);
    -o-transform: translate Y(100%);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    -webkit-transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    -moz-transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    -ms-transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    -o-transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.destination-grid-cell:hover .destination-grid-cell-text {

    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition-delay: 0.15;
}

.destination-grid-cell:hover img{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transition: transform 0.7s ease-out;
    -webkit-transition: transform 0.7s ease-out;
    -moz-transition: transform 0.7s ease-out;
    -ms-transition: transform 0.7s ease-out;
    -o-transition: transform 0.7s ease-out;
}